html,
body,
main {
  height: 100%;
  width: 100%;

  .alert.alert-success {
    bottom: 0;
    position: fixed;
    right: 0;
    width: 50%;
    z-index: 5;
    background: $white;
    color: $green-4;
    border-color: $green-4;
    border-radius: 0;
  }
}

html {
  font-size: $base-font-size;
  color: #4D4D4D;
}

body {
  background: $primary-color;
  font-size: 1.6rem;

  @include respond-to(xs) {
    font-size: 1.2rem;
  }
}


