// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts
$putua: 'Patua One', cursive;
$raleway: 'Raleway', sans-serif;

// Fonts size
$base-font-size: 10px;

// Fonts Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$primary-color: #DADADA;
$white: #fff;
$green-1: #E2EEC6;
$green-2: #A8CF45;
$green-3: #66984D;
$green-4: #2A774C;

// Shadow
$primary-shadow: rgba(0, 0, 0, .17);