.new_property,
.edit_property{
	.nested-fields{
		position: relative;
		.remove_fields{
			position: absolute;
			top: 0px;
			right: 10px;
		}

		.remove_fields:hover{
			i{
				color: #26a69a !important;
			}
		}
	}

	.links {
		margin-right: 10px;
		.add_fields{
			margin-top: 10px;
		}

	}
	.cover-img {
		width: 100%;
		height: 200px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.file {
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
		input[type="file"]{
			padding: 0;
			width: 100%;
		}

	}
	.collection-item {
		.circle {
			width: 60px !important;
			height: 60px !important;
		}

		.remove_fields {
			right: 0 !important;
		}
	}
}

.slider{
	z-index: 1;
	.indicators .indicator-item.active{
		background-color: $primary-color;
	}
}
#show-property{
	padding: 0 !important;
	.slider .slides li.active{
		z-index: 1 !important;
	}
	table {
		td,
		th {
			text-align: center;
			border: 1px solid #f4f4f4;
		}
		th {
			background: #f4f4f4;
		}
	}
}

