.wrapper {
  margin-top: 100px;

  @media #{$small-and-down} {
    margin-top: 20px;
  }

  .actions {
    height: 30px;
    margin-bottom: 15px;

    a {
      margin-left: 2px;
    }

    .btn-floating {
      box-shadow: none;
    }

    .btn-floating:hover {
      background: $gray-hover;
    }
    i.material-icons.md-24.keppler {
      color: $primary-color;
    }
  }

  &-body {
    .card {
      margin-bottom: 40px;
    }
  }

  .list {
    margin-top: 8px;

    .list-row {
      margin-bottom: 10px;
    }

    .display-label {
      color: $gray-darken;
      font-size: 13px;
      font-weight: 600;
    }

    .display-value {
      font-size: 13px;
      font-weight: 300;
    }
  }
  #customer-img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  #customer-label {
    border-bottom: 1px solid #f4f4f4;
  }
}
