.card.card-properties
  = link_to app_property_path(property.code) do
    .card-image{ style: "background-image: url('#{property.images.first.img}')" }
      .image-data
        .property-price= property.decorate.price
        .property-type= property.operation_type.humanize
    .card-content
      .property-card-title
        = "<span>#{property.property_type.humanize}</span> en #{property.zone.humanize}".html_safe
      .property-description= property.description.humanize
      .property-data
        .property-size.pull-left= property.decorate.size
        .property-rooms.pull-right
          - if property.rooms
            = property.rooms
            %i= image_tag 'app/icono_cama.png'
          - if property.bathrooms
            = property.bathrooms
            %i= image_tag 'app/icono_ducha.png', id: 'bathroom-img'