.search.row
  = form_for [:app, Property.new], method: :post do
    .input-group
      %input.form-control{name: :search, type: "text", placeholder: 'Escriba lo que desee encontrar', value: @query}
        %span.input-group-btn
          %button.btn{:type => "submit"}= '<i class="fa fa-search"></i>Buscar'.html_safe