.wrapper
	.wrapper-body.container
		.actions
			= link_to admin_customers_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				.card-content
					= simple_form_for [:admin, @customer] do |f|
						.row
							= f.input :name
							= f.input :image, as: :file_material, label: false, wrapper_html: { class: "file-field" }

							.form-actions.right
								= f.button :submit, t("keppler.actions.save"), name: '_save'
								= f.button :submit, t("keppler.actions.save_and_add_another"), name: '_add_other'
