.listing-show-header
	.actions
		- if can? :update, Customer
			= link_to edit_admin_customer_path(@customer), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-image{ style: 'padding: 25px;' }
		= image_tag @customer.image
	.card-content
		%ul.list
			%li.list-row{style: 'text-align: center;'}
				.display-label= @customer.name
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_customers_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
