= title(t('keppler.titles.show', model: "Customers"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Customer
				= link_to admin_customer_path(@customer), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Customer
				= link_to edit_admin_customer_path(@customer), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_customers_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content#customer-label
				.display-label{ style: 'text-align: center;' }= @customer.name.to_s.humanize
			.card-image
				= image_tag @customer.image, id: 'customer-img'
