footer {
  color: $white;
  font-size: .8em;

  .rights {
    background: $green-4;
    padding: 10px 25%;

    @include respond-to(xs) {
      padding: 10px 50px;
      text-align: center;
    }

    @include respond-to(sm) {
      padding: 10px 50px;
      text-align: center;
    }
  }

  .footer-content {
    background: $green-3;
    padding: 10px 20%;

    @include respond-to(xs) {
      padding: 10px 20px;
    }

    @include respond-to(sm) {
      padding: 10px 20px;
    }
  }

  .socials-row {
    margin: 0;
  }

  p {
    margin-bottom: 0;

    @include respond-to(xs) {
      text-align: center;
    }

    @include respond-to(sm) {
      text-align: center;
    }
  }

  .contact {

    @include respond-to(xs) {
      margin-bottom: 10px;
    }

    @include respond-to(sm) {
      margin-bottom: 10px;
    }

  }

  ul {
    border-bottom: 2px solid;
    padding: 0 50px;

    @include respond-to(xs) {
      padding: 0;
      text-align: center;
    }

    @include respond-to(sm) {
      padding: 0;
      text-align: center;
    }

    li {
      display: inline-block;
      padding: 10px 15px;

      @include respond-to(xs) {
        padding: 8px;
      }

      @include respond-to(sm) {
        padding: 8px;
      }
    }

    a {
      @include transition(.5s);
      border-top: 2px solid transparent;
      color: $white;
      padding: 10px 15px;

      @include respond-to(xs) {
        padding: 0;
      }

      @include respond-to(sm) {
        padding: 0;
      }
    }

    a:hover {
      border-top-color: $white;
      color: $white;
      text-decoration: none;
    }
  }

  .socials-footer {
    @include align-items(center);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(center);
    padding: 0 40px 0 0;

    @include respond-to(xs) {
      margin-bottom: 15px;
      padding: 0;
    }

    @include respond-to(sm) {
      margin-bottom: 15px;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 10px 5px 0;
      position: relative;

      @include respond-to(xs) {
        display: inline-block;
      }

      @include respond-to(sm) {
        display: inline-block;
      }
    }

    .socials {
      @include transition(.5s);
      background: $white;
      border-radius: 50%;
      display: block;
      height: 30px;
      position: relative;
      width: 30px;
    }

    .socials:hover {
      background: $green-4;
      text-decoration: none;

      i {
        color: $white;
      }
    }

    i {
      @include transition(.5s);
      color: $green-4;
      font-size: 18px;
    }
  }

  .seo-links {
    @include respond-to(sm) {
      text-align: center;
    }
    @include respond-to(xs) {
      text-align: center;
    }

    a {
      color: $white;
      display: block;

      @include respond-to(sm) {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
}
