section {
  min-height: 500px;
  padding: 50px 0;

  @include respond-to(lg) {
    padding: 50px 20%;
  }

  @include respond-to(xs) {
    min-height: auto;
  }
}

.section-green {
  background: $green-1;
}

.section-white {
  background: $white;
}

.section-title {
  color: #2a774c;
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 50px;
  text-align: center;

  @include respond-to(xs) {
    font-size: 1.4em;
    margin-bottom: 20px;
  }

  span {
    font-weight: 600;

    @include respond-to(xs) {
      display: block;
    }
  }
}

.bar {
  background: image-url('app/barra.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  display: flex;
  height: 10px;
  width: 100%;
}
