#about {
  background: $white;
  min-height: initial;

  @include respond-to(sm) {
    padding: 50px 30px;
  }
}

.about-content {
  text-align: center;
  margin: 0;

  .col {
    min-height: 300px;

    @include respond-to(sm) {
      min-height: initial;
      padding: 0;
    }

    @include respond-to(xs) {
      min-height: initial;
    }
  }

  img {
    height: 100px;
    margin-bottom: 20px;

    @include respond-to(xs) {
      margin-bottom: 10px;
    }
  }

  .about-text-light {
    font-size: .8em;
    width: 100%;
  }

  .about-text-bold {
    font-size: 1.1em;
    width: 100%;
  }

  .about-text-green {
    color: $green-4;
    text-align: center;

    @include respond-to(xs) {
      margin: 10px 0 30px;
    }
  }

  .about-text {
    min-height: 125px;

    @include respond-to(xs) {
      min-height: initial;
    }
  }
}
