#customers {
  background: image-url('app/edificios.svg');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  min-height: initial;

  @include respond-to(xs) {
    background-size: 250%;
  }
  @include respond-to(sm) {
    padding: 50px 30px;
  }

  span {

    @include respond-to(xs) {
      display: inline-block;
    }
  }
}

.centered-row {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  height: 100%;

  @include respond-to(xs) {
    @include flex-direction(column);
  }

  img {

    @include respond-to(xs) {
      margin-bottom: 25px;
    }
  }
}

.customers {
  margin-bottom: 100px;
  padding: 0 5%;

  img {
    max-height: 100px;
  }

  @include respond-to(xs) {
    margin-bottom: 50px;
    padding: 0 60px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: $green-4;
  }

  .slick-next {
    right: 10px;
  }

  .slick-prev {
    left: 10px;
  }

  .slick-slide {
    outline: none;
    margin: 0 10px;
  }
}
