.search-property {

  .card {

    @include respond-to(sm) {
      max-width: 250px;
    }

    @include respond-to(lg) {
      max-width: 250px;
    }

    @include respond-to(xl) {
      max-width: 250px;
    }
  }

  .col > a {
    width: 100%;
    text-align: center;
  }
}

.section-properties {

  .pagination {
    width: 100%;
    text-align: center;
  }

  .page,
  .next,
  .prev,
  .last,
  .first {
    margin: 0 5px;

    a {
      color: #636363;
      font-size: 1.2em;
      font-weight: 600;
      height: 18px;
      width: 18px;
      background: transparent;
      border-radius: 5%;
    }
  }

  .page:hover,
  .next:hover,
  .prev:hover,
  .last:hover,
  .first:hover {

    a {
      color: $green-4;
      text-decoration: none;
    }

    i {
      color: $green-4;
    }
  }

  .current {
    color: $green-4;
    font-size: 1.2em;
    font-weight: 600;
  }

  i {
    color: #636363;
    font-size: 1.2em;
  }
}

#show-property {
  background: image-url('app/edificios.svg');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 150px;
}

.show-property {
  background: $white;

  .property-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;

    @include respond-to(xs) {
      text-align: center;
    }
  }

  .card {
    box-shadow: 2px 7px 12px #5a5a5a;
  }
}

.details {
  display: flex;
  padding: 15px;

  @include respond-to(sm) {
    padding: 15px 50px;
  }

  @include respond-to(xs) {
    display: block;
    margin-bottom: 25px;
    padding: 0 25px 15px 25px;
  }

  &-text {
    display: inline-block;
    padding: 0 15px 0 0;
    width: 40%;

    @include respond-to(sm) {
      width: 45%;
    }

    @include respond-to(xs) {
      width: 100%;
      padding: 0;
      margin-bottom: 15px;
    }
  }

  &-image {
    display: inline-block;
    position: relative;
    width: 60%;

    @include respond-to(sm) {
      width: 55%;
    }

    @include respond-to(xs) {
      height: 250px;
      width: 100%;
    }

    img {
      bottom: 0;
      position: absolute;
    }
  }

  &-description {
    font-size: .8em;
  }

  &-more {
    background: $green-1;
    font-size: .9em;
    padding: 10px 20px;
  }

  .image-data {
    bottom: 0;
    display: flex;
    position: absolute;
    right: 0;
  }

  .text-right {
    font-weight: bold;
    margin-top: 15px;
    text-align: right;
    width: 100%;
  }

  .property-price {
    background: rgba(102,152,77,.75);
    color: black;
    display: inline-block;
    padding: 10px 15px;
  }

  .property-type {
    background: rgba(42,119,76,.8);
    color: white;
    display: inline-block;
    padding: 10px 15px;
  }
}

.images.carousel,
.slick-list,
.slick-track {
  height: 100%;
}

.images {
  height: 100%;
  margin-bottom: 0;

  .image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 300px;
  }
}

.mini-images {
  padding: 0 15px;

  @include respond-to(sm) {
    padding: 0 50px
  }

  .slick-list {
    padding: 0 !important;
  }

  .slick-track {
    display: inline-flex;
    transform: none !important;
  }

  .mini-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin-right: 10px;

    @include respond-to(xs) {
      margin: 0;
    }
  }

  .mini-image:last-of-type {
    margin-right: 0;
  }
}

.btn-more {
  border-radius: 0;
  width: 100%;

  @include respond-to(xs) {
    margin: 50px 0 0 5% !important;
    width: 90%;
  }

  @include respond-to(sm) {
    margin-left: 5% !important;
    width: 90%;
  }
}

.btn-white {
  @include transition(.5s);
  background: white;
  border: 1px solid $green-4;
  color: $green-4;
}

.btn-white:hover {
  color: white;
  background: $green-4;
}

.btn-green {
  @include transition(.5s);
  background: $green-4;
  border: 1px solid $green-4;
  color: white;
  margin: 20px 0;
}

.btn-green:hover {
  background: white;
  color: $green-4;
}

