%footer
  .footer-content
    %ul
      - if controller_name == 'front'
        %li{ onclick: "scrollToAnchor('home')" }
          %a Inicio
        %li{ onclick: "scrollToAnchor('properties')" }
          %a Inmuebles
        %li{ onclick: "scrollToAnchor('advisers')" }
          %a Asesores
        %li{"data-target" => "#contact-modal", "data-toggle" => "modal", :type => "button"}
          %a Contáctanos
      - else
        %li= link_to 'Inicio', '/#home'
        %li= link_to 'Inmuebles', '/#properties'
        %li= link_to 'Asesores', '/#advisers'
        %li{"data-target" => "#contact-modal", "data-toggle" => "modal", :type => "button"}
          %a Contáctanos
    .row.socials-row
      .col-lg-4.col-md-4.socials-footer
        = render 'app/layouts/footer_socials'
      .col-lg-5.col-md-5
        .contact
          %p Avenida Santa Irene con esquina Calle Orinoco
          %p Punto Fijo - Estado Falcón - Venezuela
          %p +58 269 2454545
      .col-lg-3.col-md-3.seo-links
        = link_to 'Casas en Punto Fijo', app_properties_path
        = link_to 'Apartamentos en Punto Fijo', app_properties_path
        = link_to 'Terrenos en Punto Fijo', app_properties_path
        = link_to 'Alquiler de locales', app_properties_path
        = link_to 'Venta de casas', app_properties_path
        = link_to 'Venta de terrenos', app_properties_path
  .rights
    Derechos de autor M&G Inmobiliaria
