%li.hide
  = link_to '/', class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-facebook
%li
  = link_to 'https://twitter.com/rentahousefalc1', class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-twitter
%li
  = link_to 'https://www.instagram.com/muscelli_gutierrez/', class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-instagram
%li.hide
  = link_to '/', class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-pinterest-p
%li.hide
  = link_to '/', class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-linkedin
%li.hide
  = link_to '/', class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-youtube
%li.hide
  = link_to '/', class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-google-plus
