-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.app-navbar
  .container.nav-cont
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .nav-center.navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if controller_name == 'front'
          %li{onclick: "scrollToAnchor('home')" }
            %a INICIO
          %li{ class: "#{ 'current' if controller_name == 'properties' }" }
            = link_to 'INMUEBLES', app_properties_path
          %li{ onclick: "scrollToAnchor('advisers')" }
            %a ASESORES
          %li{"data-target" => "#contact-modal", "data-toggle" => "modal", :type => "button"}
            %a CONTÁCTANOS
        - else
          %li{ class: "#{ 'current' if controller_name == 'front' }" }
            = link_to 'INICIO', main_app.root_path
          %li{ class: "#{ 'current' if controller_name == 'properties' }" }
            = link_to 'INMUEBLES', app_properties_path
          %li= link_to 'ASESORES', main_app.root_path(anchor: 'advisers')
          %li{"data-target" => "#contact-modal", "data-toggle" => "modal", :type => "button"}
            %a CONTÁCTANOS
= render 'app/layouts/contact_modal'