.details
  .details-text
    .section-title.property-title= "#{property.property_type.capitalize} en #{property.zone.humanize}"
    .details-description
      = simple_format property.description.humanize
      %br
      %strong Punto de referencia
      = simple_format property.reference.humanize
      .text-right= property.city
    .details-more
      = property.decorate.size
      %br= property.rooms_text
      = property.bathrooms_text
      .text-right= "Ref: #{property.code}"
  .details-image
    .images{class:"#{'carousel' if @property.images.count > 1 }"}
      - property.images.each do |image|
        .image-container{style: "background-image: url('#{image.img}'); "}
    .image-data
      .property-price= property.decorate.price
      .property-type= property.operation_type.capitalize

