.question-form#questions
  = simple_form_for @question, url: app_property_questions_path(@property.code) do |f|
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.no-padding-xs
        .title-form
          Solicita Información
        - unless @question.errors.empty?
          %div.alert.alert-danger.form-alert
            %div
              Errores:
              - @question.errors.each_with_index do |e,i|
                - if i <= 4
                  %p{style: 'margin-bottom: 0;'}
                    -
                    = t("activerecord.attributes.question.#{e.first.to_s}")
                    = ": #{e.last.humanize}"
        .col-lg-12
          = f.input :name, placeholder: 'Escriba su nombre y apellido por favor.' , label: 'Nombre y apellido'
        .col-lg-12
          = f.input :email, placeholder: 'Escriba una dirección de correo donde responder su pregunta.' , label: 'Correo electrónico'
        .col-lg-12
          = f.input :phone, placeholder: 'Si lo desea, puede suministrar también su número de teléfono.' , label: 'Teléfono'
        .col-lg-12
          = f.input :message, placeholder: 'Escriba su mensaje aqui.' , label: 'Mensaje', input_html: { rows: '5' }
      .form-actions
        = f.button :submit, 'Enviar', class: "btn btn-save", id: "btn-submit"
