.properties-list
  .section-header
    .section-header-logo
      = image_tag 'app/logo_pequeño.png'
    .section-header-text
      Propiedades en
      %br Venta o Alquiler
      = render 'app/partials/search'
  .bar

  - if @properties.any?
    %section.section-green.section-properties
      .section-title= "Mostrando resultados de '#{@query}'" if @query
      .row.search-property
        - @properties.each do |property|
          .col-lg-4.col.col-md-4.col-sm-6.center
            = render 'app/partials/cards', property: property
      = paginate @properties, views_prefix: 'app'
  - else
    %section.section-green.empty-section
      .not-found
        No existen inmuebles.
