.section-header
  .section-header-logo
    = image_tag 'app/logo_pequeño.png'
  .section-header-text
    Detalle de
    %br la Propiedad
    = render 'app/partials/search'
.bar

.show-property
  %section#show-property
    = render 'app/properties/propertys_details', property: @property
    - if @property.images.count > 1
      .hidden-xs.mini-images.carousel
        - @property.images.each do |image|
          .mini-image{ style: "background-image: url(#{image.img})" }
    = render 'app/properties/question_form'
    #properties
      .properties-cont
        .section-title Propiedades similares
        .row.section-properties.properties.carousel
          - @suggestions.each do |property|
            = render 'app/partials/cards', property: property
        = link_to app_properties_path, class: 'btn btn-more btn-green' do
          Ver más inmuebles

- if @question.errors.any?
  :javascript
    scrollToAnchor('questions');
