.listing-show-header
	.actions
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		Pregunta
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.question.name")
				.display-value= @question.name
			%li.list-row
				.display-label= t("activerecord.attributes.question.email")
				.display-value= @question.email
			%li.list-row
				.display-label= t("activerecord.attributes.question.phone")
				.display-value= @question.telephone
			%li.list-row
				.display-label= t("activerecord.attributes.question.message")
				.display-value= @question.message
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_property_questions_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
