%tr{ id: "row-#{question.id}" }
	- if can? :destroy_multiple, Question
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_property_question_path(property, question), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{question.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{question.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{question.id}" }
		%td#check-read
			= content_tag(:i, 'check', id: 'check-read', class: "mi md-18 #{'hide' unless question.read} tooltipped", "data-position" => "top", "data-tooltip" => 'Leído')
		%td{style:"width: 30%"}
			= link_to "", admin_property_question_path(property, question, search: @query), remote: true, class: "show-row"
			%span
				= question.name
		%td{style:"width: 30%"}
			= link_to "", admin_property_question_path(property, question, search: @query), remote: true, class: "show-row"
			%span
				= question.email
		%td{style:"width: 30%"}
			= link_to "", admin_property_question_path(property, question, search: @query), remote: true, class: "show-row"
			%span
				= question.phone
		%td{style:"width: 30%"}
			= link_to admin_property_path(property), class: "btn-floating waves-effect btn-flat tooltipped", "data-position" => "top", "data-tooltip" => 'Ver datos de Propiedad' do
				= material_icon.md_24.hotel.css_class("md-dark")
	%td{style:"width: 5%"}
		= link_to admin_property_question_path(property, question, read: true), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")