= title(t('keppler.titles.index', model: "Preguntas"))
= header_information do
	= link_to "Inmuebles", admin_properties_path
	= " > Preguntas"
.listing.col.l9.m12.s12
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |question|
				= render 'listing', question: question, property: @property
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.questions"))
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"
