= title(t('keppler.titles.show', model: "Preguntas"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Question
				= link_to admin_property_question_path(@property, @question), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			= link_to admin_property_questions_path(@property), class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%ul.list
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.name")
						.display-value.fs-body-1.tc-black-2= @question.name.to_s.humanize
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.email")
						.display-value.fs-body-1.tc-black-2= @question.email.to_s.humanize
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.phone")
						.display-value.fs-body-1.tc-black-2= @question.telephone
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.message")
						.display-value.fs-body-1.tc-black-2= @question.message.to_s.humanize
