
.question-form {
  margin-bottom: 20px;
  padding: 15px;

  @include respond-to(xs) {
    padding: 15px 25px;
  }

  form {
    background: $green-2;
    padding: 15px 30px;

    @include respond-to(xs) {
      padding: 15px 10px;
    }

    .row {
      margin: 0;
    }
  }

  .no-padding-xs {

    @include respond-to(xs) {
      padding: 0;

      .col-lg-12 {
        padding: 0;
      }
    }
  }

  .title-form {
    color: $white;
    font-size: 1.8em;
    margin-bottom: 15px;
  }
  label {

    color: $white;
    float: left;
    font-size: 1.1em;
    font-weight: 500;
    padding-right: 15px;
    padding-top: 8px;
    text-align: right;
    width: 25%;

    @include respond-to(xs) {
      display: none;
    }
  }

  input,
  textarea {
    width: 75%;
    border: 0;
    float: right;
    font-size: .9em;
    margin-bottom: 10px;
    outline: 0;
    padding: 0 5px;

    @include respond-to(xs) {
      width: 100%;
    }
  }

  input {
    height: 35px;

  }

  .input-field {
    margin-bottom: 10px;
  }

  .form-actions {
    padding: 0 30px;

    @include respond-to(xs) {
      padding: 0;
    }
  }

  .btn-save {
    background: #e2eec6;
    border-radius: 0;
    color: #2a774c;
    font-size: 1.2em;
    outline: 0;
    width: 30%;

    @include respond-to(xs) {
      width: 100%;
    }
  }

  .alert-danger {
    color: #2A774C;
    background: white;
    border-color: #66984D;
    border-radius: 0;
  }

  .help-inline {
    display: none;
  }

  .error > input,
  .error > textarea {
    background: #FBC7C7;
    border: 1px solid #FF8C8C;
  }
}

.g-recaptcha{
  transform: scale(0.82);
  transform-origin: 0 0;
}
