
.modal-content {
	border-radius: 0;

	.modal-title {
		color: $green-4;
		font-size: 1.8em;
		text-align: center;
	}

	input,
	textarea {
		border-radius: 0;
		margin-bottom: 10px;
		outline: none;
	}

	input[type='submit'] {
		background: $green-4;
    border: 0;
    color: $white;
    font-size: 1.1em;
    margin: 10px 0;
    outline: none;
    padding: 5px 30px;
  	width: 100%;

    @include respond-to(xs) {
    	padding: 10px;
    }
	}

	.form-actions {
		text-align: center;
	}
}
