
.app-navbar {
  background-color: rgba(212, 213, 215, .8);
  border-bottom: 4px solid rgba(42, 119, 76, .4);
  border-radius: 0;
  box-shadow: 0;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;

  @include respond-to(xs) {
    background-color: rgba(212, 213, 215, 1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .nav-cont {
    @include display(flex);
    @include justify-content(center);

    @include respond-to(xs) {
      @include display(block);
      @include justify-content(initial);
    }
  }
  .nav-center {
    padding-top: 16px;

    li > a {
      border-bottom: 4px solid transparent;
      cursor: pointer;
      font-weight: 500;
      margin-bottom: -4px;
      padding: 5px 15px;

      @include respond-to(xs) {
        text-align: center;
      }
    }

    li.current > a,
    li:hover > a {
      @include transition(.5s);
      background: transparent;
      border-bottom-color: $green-4;
      color: black;

      @include respond-to(xs) {
        background: $green-1;
        border-bottom-color: transparent;
        font-weight: 600;
      }
    }
  }

  .navbar-toggle {
    border: 1px solid #90af9f;
    border-radius: 0;
    display: none;

    @include respond-to(xs) {
      display: block;
    }

    .icon-bar {
      background-color: #90af9f;
    }
  }

  .navbar-toggle:hover {
    background: $green-1;
    border: 1px solid $green-4;

    .icon-bar {
      background-color: $green-4;
    }
  }
}
