#properties {

  .container {

    @include respond-to(xs) {
      margin: 0;
      padding: 0;
    }
  }
}

.search-property {
  margin: 0;

  .card {
    margin: 0 0 30px;
    width: 100%;
  }
}

.properties {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  height: 100%;
  margin: 0;

  @include respond-to(xs) {
    @include display(inline-block);
    @include align-items(initial);
    @include flex-direction(initial);
    @include justify-content(initial);
    margin-left: 5%;
    width: 90%;
  }

  @include respond-to(sm) {
    @include display(inline-block);
    @include align-items(initial);
    @include flex-direction(initial);
    @include justify-content(initial);
    margin-left: 5%;
    width: 90%;
  }

  .card {
    margin: 10px;
    width: 30%;
  }
}

.section-properties {

  .card {
    @include transition(.5s);
    background: white;
    display: inline-block;
    max-width: 300px;
    outline: none;

    @include respond-to(xs) {
      max-width: none;
    }

    @include respond-to(sm) {
      max-width: none;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .card:hover {
    box-shadow: 2px 7px 12px #5a5a5a;

    @include respond-to(xs) {
      box-shadow: none;
    }

    @include respond-to(sm) {
      box-shadow: none;
    }
  }

  .card-content {
    color: $green-4;
    font-size: .9em;
    font-weight: 600;
    padding: 15px;

    .property-card-title {
      height: 50px;
    }

    span {
      color: black;
      font-size: 1.3em;
      font-weight: 900;
    }

    .property-description {
      color: #636363;
      font-size: .8em;
      height: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .property-size {
    color: black;
    padding: 10px 0;
  }

  .property-rooms {
    color: black;
    padding: 10px 0;

    img {
      display: inline;
      margin: 0 10px 0 0;
      width: 25px;
    }

    #bathroom-img {
      margin-top: -10px;
    }
  }

  .card-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    position: relative;

    .image-data {
      bottom: 0;
      display: inline-flex;
      position: absolute;
    }

    .property-price {
      background: rgba(102, 152, 77, .75);
      color: black;
      display: inline-block;
      padding: 10px 15px;
    }

    .property-type {
      background: rgba(42, 119, 76, .8);
      color: white;
      display: inline-block;
      padding: 10px 15px;
    }
  }
}

.not-found {
  background: white;
  border: 1px solid $green-4;
  color: $green-4;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-align: center;
  width: 60%;

  @include respond-to(xs) {
    width: 80%;
  }

  @include respond-to(sm) {
    width: 80%;
  }
}
