.search {
  font-size: 20px;
  margin: 30px 0;
  width: 100%;

  .col {
    padding: 0;
  }

  input {
    border: 0;
    margin: 0;
  }

  button {
    background: $green-4;
    color: white;
    margin-left: 10px;
    outline: none;

    @include respond-to(xs) {
      margin: 0;
    }

    @include respond-to(sm) {
      margin: 0;
    }
  }

  button:focus,
  button:active,
  button.active,
  button.focus {
    outline: none;
  }

  i {
    font-size: 1.2em;
    margin-right: 10px;
  }
}
