.section-header {
  @include align-items(center);
  @include display(flex);
  @include justify-content(flex-start);
  @include flex-direction(row);
  background: image-url('app/edificios.svg');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: auto;
  padding: 50px 10%;
  width: 100%;

  @include respond-to(xs) {
    @include justify-content(center);
    @include flex-direction(column);
    height: auto;
    padding: 50px 20px;
  }

  @include respond-to(sm) {
    padding: 0 50px;
  }

  &-text {
    color: #2A774C;
    display: inline-block;
    font-size: 3em;
    padding: 0 50px;
    text-align: center;
    width: 60%;

    @include respond-to(xs) {
      font-size: 2.2em;
      padding: 0;
      width: 100%;
    }

    @include respond-to(sm) {
      font-size: 2.1em;
      padding: 0 15px;
    }
  }

  &-logo {
    display: inline-block;
    width: 40%;

    @include respond-to(xs) {
      padding: 25px;
      width: 100%;
    }
  }
}
