.wrapper
  .wrapper-body.container
    .actions
      = link_to admin_properties_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .wrapper-inputs
      .card
        .card-content
          = simple_form_for [:admin, @property] do |f|
            .row
              = f.input :property_type, collection: [['Casa', 'casa'], ['Apartamento', 'apartamento'], ['Terreno','terreno'], ['Local', 'local'], ['Edificio', 'edificio']], prompt:'Elegir tipo de propiedad'
              = f.input :operation_type, collection: [['Alquiler', 'alquiler'],['Venta', 'venta']], prompt:'Elegir tipo de operación'
              = f.input :code
              = f.input :city
              = f.input :zone
              = f.input :reference, input_html: {class: "materialize-textarea"}
              = f.input :description, input_html: {class: "materialize-textarea"}
              = f.input :price
              = f.input :rooms
              = f.input :bathrooms
              = f.input :size
            .row
              - if @property.errors && @property.errors.messages[:images]
                .input-field.col.s12.error
                  %span.help-inline= @property.errors.messages[:images].first

              = f.simple_fields_for :images do |c|
                = render 'image_fields', :f => c
              .form-actions.right
                = link_to_add_association 'Agregar Imagen', f, :images, class: "waves-effect waves-dark btn-flat"

                = f.button :submit, t("keppler.actions.save"), name: '_save'
                = f.button :submit, t("keppler.actions.save_and_add_another"), name: '_add_other'
