.nested-fields.col.s12
  %ul.collection
    %li.collection-item.avatar
      %img.circle{:src => "#{f.object.img.thumb unless f.object.img.to_s == ''}", id: "circle-#{f.object.id}"}
        = f.input :img, :as => :file_material, label: false, wrapper_html: { class: "file-field input-#{f.object.id}"}
        .secondary-content
          = link_to_remove_association f do
            = material_icon.md_24.close.css_class('md-dark')
        :javascript
          src = $('#circle-#{f.object.id}').attr('src').split('thumb_')[1]
          $('.input-#{f.object.id}').find('.file-path').val(src)
