.listing-show-header
	.actions
		- if can? :update, Property
			= link_to edit_admin_property_path(@property), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		Inmueble
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	- if @property.images.any?
		= image_tag @property.images.first.img
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.property.code")
				.display-value= @property.code
			%li.list-row
				.display-label= t("activerecord.attributes.property.property_type")
				.display-value= "#{@property.property_type.humanize} de #{@property.size}"
			%li.list-row
				.display-label= t("activerecord.attributes.property.city")
				.display-value= @property.city.humanize
			%li.list-row
				.display-label= t("activerecord.attributes.property.operation_type")
				.display-value= @property.operation_type.humanize
			%li.list-row
				.display-label= t("activerecord.attributes.property.price")
				.display-value= @property.price
			%li.list-row
				.display-label
					= t("activerecord.attributes.property.rooms") + ' / '
					= t("activerecord.attributes.property.bathrooms")
				.display-value
					= "#{@property.rooms} / #{@property.bathrooms}"
			%li.list-row
				.display-label= t("activerecord.attributes.property.description")
				.display-value= @property.description
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_properties_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
