%tr{ id: "row-#{property.id}" }
	- if can? :destroy_multiple, Property
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_property_path(property), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{property.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{property.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{property.id}" }

		%td{style:"width: 10%"}
			= link_to "", admin_property_path(property, search: @query), remote: true, class: "show-row"
			%span
				= property.code
		%td{style:"width: 30%"}
			= link_to "", admin_property_path(property, search: @query), remote: true, class: "show-row"
			%span
				= property.operation_type.humanize
		%td{style:"width: 30%"}
			= link_to "", admin_property_path(property, search: @query), remote: true, class: "show-row"
			%span
				= property.price
		%td{style:"width: 30%"}
			= link_to "", admin_property_path(property, search: @query), remote: true, class: "show-row"
			%span
				= property.city.humanize
		%td{style:"width: 30%"}
			= link_to admin_property_questions_path(property), class: "btn-floating waves-effect btn-flat tooltipped", "data-position" => "top", "data-tooltip" => property.unread_questions do
				= material_icon.md_24.live_help.css_class(property.questions_class)
	%td{style:"width: 5%"}
		= link_to admin_property_path(property), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")