= title(t('keppler.titles.show', model: "Inmuebles"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Property
				= link_to admin_property_path(@property), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Property
				= link_to edit_admin_property_path(@property), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_properties_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
			= link_to admin_property_questions_path(@property), class: "right btn-floating waves-effect btn-flat tooltipped", "data-position" => "top", "data-tooltip" => @property.unread_questions do
				= material_icon.md_24.live_help.css_class(@property.questions_class)
		.card#show-property
			- if @property.images.any?
				.card-image
					.slider
						%ul.slides
							- @property.images.each do |item|
								%li
									= image_tag item.img

			.card-content
				%table.table.table-bordered
					%tr
						%th= t("activerecord.attributes.property.property_type")
						%th= t("activerecord.attributes.property.operation_type")
						%th= t("activerecord.attributes.property.code")
					%tr
						%td= @property.property_type.humanize
						%td= @property.operation_type.to_s.humanize
						%td= @property.code
					%tr
						%th= t("activerecord.attributes.#{controller_name.singularize}.price")
						%th
							= t("activerecord.attributes.property.rooms") + ' / '
							= t("activerecord.attributes.property.bathrooms")
						%th= t("activerecord.attributes.#{controller_name.singularize}.size")
					%tr
						%td= @property.price
						%td= "#{@property.rooms} / #{@property.bathrooms}"
						%td= @property.size
					%tr
						%th{colspan: "6"}
							= t("activerecord.attributes.property.city") + ' / '
							= t("activerecord.attributes.property.zone")
					%tr
						%td{colspan: "6"}= "#{@property.city} / #{@property.zone}"
					%tr
						%th{colspan: "6"}= t("activerecord.attributes.#{controller_name.singularize}.reference")
					%tr
						%td{colspan: "6"}= @property.reference.to_s.humanize
					%tr
						%th{colspan: "6"}= t("activerecord.attributes.#{controller_name.singularize}.description")
					%tr
						%td{colspan: "6"}= @property.description.to_s.humanize

:javascript
	$(document).ready(function(){
		$('.slider').slider();
	});
