%section#about
  .row.about-content
    .col-lg-4.col-md-4.col-sm-4.col
      = image_tag 'app/icono_lupa.png'
      .about-text
        .about-text-bold= '¿Quieres comprar o alquilar <br> un inmueble?'.html_safe
        .about-text-light
          = 'Nuestros agentes te ayudarán a <br>'.html_safe
          = 'conseguir la propiedad que mejor se <br>'.html_safe
          = 'adapte a tus necesidades <br> y presupuesto.'.html_safe
      .about-text-green DESCUBRE LO MEJOR PARA TI
    .col-lg-4.col-md-4.col-sm-4.col
      = image_tag 'app/icono_venta.png'
      .about-text
        .about-text-light= 'Tu inmueble estará en <br> las mejores manos...'.html_safe
        .about-text-bold= 'Véndelo rápido, fácil y <br> seguro.'.html_safe
      .about-text-green VENDE CON NOSOTROS
    .col-lg-4.col-md-4.col-sm-4.col
      = image_tag 'app/icono_agente.png'
      .about-text
        .about-text-bold= 'Contamos con agentes <br> inmobiliarios expertos'.html_safe
        .about-text-light
          = 'en la gestión y asesoría <br>'.html_safe
          = 'personalizada en la compra y venta <br>'.html_safe
          = 'de inmuebles en toda Venezuela.'.html_safe
      .about-text-green CONTÁCTANOS YA
