%section#advisers
  .section-title
    %span La mejor opción
    siempre serán nuestros expertos inmobiliarios
  .row.advisers
    .col-lg-6.col-md-6.col-sm-6
      = image_tag 'app/asesores/t_delia.jpg', class: 'animated'
    .col-lg-6.col-md-6.col-sm-6
      = image_tag 'app/asesores/t_larry_m.jpg', class: 'animated'
    .col-lg-6.col-md-6.col-sm-6
      = image_tag 'app/asesores/t_tito.jpg', class: 'animated'
    .col-lg-6.col-md-6.col-sm-6
      = image_tag 'app/asesores/t_larry_v.jpg', class: 'animated'
    .col-lg-6.col-md-6.col-sm-6
      = image_tag 'app/asesores/t_jhonny.jpg', class: 'animated'
    .col-lg-6.col-md-6.col-sm-6
      = image_tag 'app/asesores/t_nada.jpg', class: 'animated'
    .col-lg-6.col-md-6.col-sm-6
      = image_tag 'app/asesores/t_gianfranco.jpg', class: 'animated'
    .col-lg-6.col-md-6.col-sm-6
      = image_tag 'app/asesores/t_marco.jpg', class: 'animated'

:javascript
  $('.animated')
    .mouseenter(function() {
      $(this).addClass('pulse');
    })
    .mouseleave(function() {
     $(this).removeClass('pulse');
    });