- if @customers.any?
  %section#customers
    .section-title
      = 'Ellos <span>confían</span> en nosotros'.html_safe
    .customers{class: "#{ @customers.count < 4 ? 'centered-row' : 'carousel' }" }
      - @customers.each do |customer|
        = image_tag customer.image
