- if @properties.any?
  %section.section-green#properties
    .properties-cont
      .section-title= 'Busca, encuentra y disfruta de <span>tu nueva propiedad hoy…<span>'.html_safe
      .row.section-properties.properties.carousel
        - @properties.each do |property|
          = render 'app/partials/cards', property: property

      = link_to app_properties_path, class: 'btn btn-more btn-white' do
        Ver más inmuebles